<!DOCTYPE html>
<!--
  NutriEye
  -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NutriEye</title>
    <link type="text/css" href="static/index.css" rel="stylesheet" />
    <script src="static/index.js"></script>
    
    <!--Normalize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <!--AJAX-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>	
  </head>
  
  <body>
    <div class="container">
      <header>
        <h1>NutriEye</h1>
      </header>
    
      <div class="row">
        <form>
          <input id="upload" type="file" value="">

        </form>
      </div>
    </div>
    
    
  </body>
</html>